title{
color: black;
text-align : center;
}
p {
    border: 1px solid black; /*defines a border around an HTML element*/
	padding: 10px; /*defines a padding (space) between the text and the border*/
	margin: 10px; /*defines a margin (space) outside the border*/
	
}

#recherche{
    position:relative;
    width:1040px;
    height:auto;
    display:inline-block;
}
#recherche .text{
    width:300px;
    float:left;    
}
#recherche .champ{
    width:600px;
    height:35px;
    float:left;
}
#recherche .bouton{
    
    width: 35px;
    height: 35px;
    padding: 0;
    border:none;
    float:left;
}

#p01 {
    color: blue;
}

p.error {
    color: yellow;
}

/*table, th, td {
     border: 1px solid black;
}*/

table, th, td {
    border: 1px solid black;
     border-collapse: collapse;
}

/*space between the cell content and its borders*/
th, td {
    padding: 15px;
}

/*left-align the table headings*/
th {
    text-align: left;
} 

/*space between the cells*/
table {
    border-spacing: 5px;
}

table#t01 {
    width: 100%; 
     background-color: #f1f1c1;
} 
table#t01 tr:nth-child(even) {
     background-color: #eee;
}
 table#t01 tr:nth-child(odd) {
     background-color: #fff;
}
 table#t01 th {
    color: white;
    background-color: #FFFFFF;
} 

/*Horizontal Lists*/
ul#l01 {
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    overflow: hidden;
    background-image: url(background-css.jpg);
}

li#l02{
    float: left;
     margin: 10px;
    padding: 5px;
}

li a#l03:hover {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
	background-image: url(background-css.jpg);
}

